/* ___ ROOT n CLASSES ___ */

/* ___ HTML n BODY ___ */

/* ___ HEADER ___ */
/* header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 2rem 0;
} */

#logo-header {
  width: 60%;
  border-radius: 50%;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}

@keyframes droplow {
  from { display: none; opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 500px; border-bottom: 4px solid gray;}
}

.topnav #menu {
  display: none;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#menu ul li {
  /* border-bottom: 1px solid gray; */
  border-top: 1px solid gray;
  width: 100%;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  padding: 1rem;
}

/* ___ COMMON ___ */

/* ___ FOOTER ___ */
