/* ___ ROOT n CLASSES ___ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ___ HTML n BODY ___ */
html {
  font-family: 'Open Sans', sans-serif;
}

/* ___ HEADER ___ */
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
}

#logo-header {
  width: 60%;
  border-radius: 50%;
}

@keyframes droplow {
  from { display: none; opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 500px; border-bottom: 4px solid gray;}
}

.topnav #menu {
  display: none;
  width: 100%;
}

#menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#menu ul li {
  /* border-bottom: 1px solid gray; */
  border-top: 1px solid gray;
  width: 100%;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#burger:hover {
  color: red;
}

.topnav a.icon {
  background: black;
  display: block;
  padding: 1rem;
}

/* ___ COMMON ___ */
section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 2.5rem;
}

section p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

section span {
  font-weight: 600;
}

section ul {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  list-style: square;
}

section li::marker {
  color: red;
}

section button {
  font-size: 1.2rem;
  width: 40%;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: red;
  color: white;
  border: 2px solid black;
  border-radius: 100px;
  cursor: pointer;
}

section button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

/* ___ FOOTER ___ */
