/* ___ CURSOS ___ */
@media screen and (min-width: 768px) {
    /* DESKTOP */
    #cursos {
        flex-direction: row;
        /* justify-content: space-evenly; */
        gap: 10%;
        justify-content: center;
    }

    #cursos .section-box {
        width: 400px;
    }

    #cursos h2 {
        text-align: left;
    }

    #cursos img {
        width: 400px;
        height: 400px;
        margin-top: 4rem;
    }
}


/* ___ VIAGENS ___ */
@media screen and (min-width: 768px) {
    /* DESKTOP */
    #viagens {
        flex-direction: row-reverse;
        gap: 10%;
        justify-content: center;
    }

    #viagens .section-box {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    /* MOBILE */
    
}

#trips {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* .trip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-card h3 {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.trip-card p {
    font-style: italic;
}

.trip-card img {
    padding: .4rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.128);
    width: 200px;
    height: 200px;
} */

/* ___ CONHECA ___ */
#conheca img {
    border-radius: 100%;
    border: 5px solid var(--vermelho-principal);
    background-color: black;
    width: 240px;
    align-self: center;
}
